<script setup>
import Header from '../components/Header.vue'
import Talent from '../components/Talent.vue'
import About from '../components/About.vue'
import Class from '../components/Class.vue'
import Join from '../components/Join.vue'
import Partner from '../components/Partner.vue'
import Contact from '../components/Contact.vue'
import Copyright from '../components/Copyright.vue'
</script>

<template>
  <Header />
  <Talent />
  <About />
  <Class />
  <Join />
  <Partner />
  <Contact />
  <Copyright />
</template>

<style scoped>
</style>
