<script>
</script>

<template>
        <div id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h2>Our Story</h2>
                    <p>Established 2012</p>
                    <p>Star Harvest Academy was created by two sisters who had a dream to foster a community of creatives and give a platform for these individuals to excel and reach for their dreams. Star Harvest Academy started as a small school teaching
                        acting, dancing, modelling and vocal lessons with the aim to help individuals gain confidence in their own skin.</p>

                    <p> Since then, Star Harvest has expanded to over 6 different classes training upcoming stars in the entertainment industry, from those who performed on Indonesian Idol, Miss Indonesia and Xfactor to name a few, to band performers and
                        live instrumentalist.</p>

                    <p>
                        Star Harvest aims to continue to help those who dream to excel in their talents and continue to nurture of community of young talents on their journey.</p>
                </div>
                <div class="col-lg-6">
                    <div class="bg">
                        <div class="d-flex align-items-center justify-content-center gap-1 mb-3">
                            <img src="../assets/img/about/visi.png" alt="img" width="50" height="55">
                            <h3>VISION</h3>
                        </div>
                        <p>The vision for Star Harvest Academy is to build up the younger generation, to become more creative, positive, independent, with a high self-esteem and credibility in the field of Art & Entertainment. With God as the foundation
                            and the guide.</p>
                    </div>
                    <div class="bg">
                        <div class="d-flex align-items-center justify-content-center gap-1 mb-3">
                            <img src="../assets/img/about/misi.png" alt="img" width="50" height="50">
                            <h3>MISSION</h3>
                        </div>
                        <p>The vision for Star Harvest Academy is to build up the younger generation, to become more creative, positive, independent, with a high self-esteem and credibility in the field of Art & Entertainment. With God as the foundation
                            and the guide.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
#about {
    background: linear-gradient(135deg, hsla(320, 60%, 94%, 1) 0%, hsla(25, 85%, 92%, 1) 14%, hsla(135, 46%, 85%, 1) 41%, hsla(192, 54%, 70%, 1) 62%, hsla(324, 47%, 71%, 1) 77%, hsla(204, 95%, 77%, 1) 87%);
    padding: 70px 0;
}

#about img {
    display: block;
    width: 100%;
    max-width: 50px;
    height: 50px;
    margin: 0 10px;
    object-fit: contain;
}

#about h2 {
    font-weight: 600;
}

#about .bg {
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    height: 275px;
}

@media screen and (max-width:1024px) {
    #about .bg {
        height: auto;
    }
}</style>