<template>
        <div id="contact">
        <div class="container">
            <img src="../assets/img/contact/logo.png" alt="img" width="250" height="83">
            <div class="row">
                <div class="col-lg-13 col-12">
                    <h2>Company</h2>
                    <a href="#">
                        <div class="menu">About Us</div>
                    </a>
                    <a href="#">
                        <div class="menu">Talent</div>
                    </a>
                    <a href="#">
                        <div class="menu">Career</div>
                    </a>
                </div>
                <div class="col-lg-13 col-12">
                    <h2>Class</h2>
                    <a href="#">
                        <div class="menu">Enrol Now</div>
                    </a>
                    <a href="#">
                        <div class="menu">Schedule</div>
                    </a>
                    <a href="#">
                        <div class="menu">Online</div>
                    </a>
                </div>
                <div class="col-lg-13 col-12">
                    <h2>Community</h2>
                    <a href="#">
                        <div class="menu">Event</div>
                    </a>
                </div>
                <div class="col-lg-13 col-12">
                    <h2>Phone</h2>
                    <a href="#">
                        <div class="menu">(+62) 811 1526 160</div>
                    </a>
                    <a href="#">
                        <div class="menu">(+62) 21 532 0830</div>
                    </a>
                </div>
                <div class="col-lg-13 col-12">
                    <h2>Sosial Media</h2>
                    <a href="#">
                        <div class="menu">Instagram</div>
                    </a>
                    <a href="#">
                        <div class="menu">Facebook</div>
                    </a>
                    <a href="#">
                        <div class="menu">Youtube</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

#contact {
    padding: 70px 0;
    background-color: #222;
}

#contact img {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    height: auto;
}

.col-lg-13 {
    flex: 0 0 auto;
    width: 19.66666667%;
    color: #fff;
}

#contact a {
    line-height: 2.5;
    color: #fff;
    text-decoration: none;

}

#contact h2 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}</style>