<template>
    <div id="copyright">
        <div>© 2023 STAR HARVEST ACADEMY - All Rights Reserved.</div>
    </div>

</template>

<style>
#copyright {
    text-align: center;
    background: #E1A778;
    color: #000;
    padding: 20px 0;
    font-size: 12px;
}
</style>