<template>
    <div id="partner">
        <div class="container">
            <h2>OUR PARTNERS</h2>
            <div class="d-flex flex-wrap justify-content-center align-items-center">
                <a href="#"><img src="../assets/img/partner/rcti.png" alt="img" width="auto" height="auto"></a>
                <a href="#"><img src="../assets/img/partner/rctiplus.png" alt="img" width="auto" height="auto"></a>
                <a href="#"><img src="../assets/img/partner/mnctv.png" alt="img" width="auto" height="auto"></a>
                <a href="#"><img src="../assets/img/partner/gtv.png" alt="img" width="auto" height="auto"></a>
                <a href="#"><img src="../assets/img/partner/inews.png" alt="img" width="auto" height="auto"></a>
                <a href="#"><img src="../assets/img/partner/smn.png" alt="img" width="auto" height="auto"></a>
            </div>
        </div>
    </div>
</template>

<style>
#partner {
    background: #F3F3F3;
    padding: 70px 0;
}

#partner h2 {
    text-align: center;
    font-weight: 600;
}

#partner img {
    display: block;
    width: auto;
    max-height: 80px;
    margin: 20px;
    mix-blend-mode: darken;
}</style>