<script>
    $(document).ready(function() {
        $(".loadcontent-1").slice(0, 8).show();
        $("#loadmore-1").on("click", function(e) {
            e.preventDefault();
            $(".loadcontent-1:hidden").slice(0, 4).slideDown();
            if ($(".loadcontent-1:hidden").length == 0) {
                $("#loadmore-1").text("Tidak ada lagi").addClass("nocontent");
            }
        });

    })

    $(document).ready(function() {
        $(".loadcontent-2").slice(0, 8).show();
        $("#loadmore-2").on("click", function(e) {
            e.preventDefault();
            $(".loadcontent-2:hidden").slice(0, 4).slideDown();
            if ($(".loadcontent-2:hidden").length == 0) {
                $("#loadmore-2").text("Tidak ada lagi").addClass("nocontent");
            }
        });

    })

    $(document).ready(function() {
        $(".loadcontent-3").slice(0, 8).show();
        $("#loadmore-3").on("click", function(e) {
            e.preventDefault();
            $(".loadcontent-3:hidden").slice(0, 4).slideDown();
            if ($(".loadcontent-3:hidden").length == 0) {
                $("#loadmore-3").text("Tidak ada lagi").addClass("nocontent");
            }
        });

    })

    $(document).ready(function() {
        $(".loadcontent-4").slice(0, 8).show();
        $("#loadmore-4").on("click", function(e) {
            e.preventDefault();
            $(".loadcontent-4:hidden").slice(0, 4).slideDown();
            if ($(".loadcontent-4:hidden").length == 0) {
                $("#loadmore-4").text("Tidak ada lagi").addClass("nocontent");
            }
        });

    })

    $(document).ready(function() {
        $(".loadcontent-5").slice(0, 8).show();
        $("#loadmore-5").on("click", function(e) {
            e.preventDefault();
            $(".loadcontent-5:hidden").slice(0, 4).slideDown();
            if ($(".loadcontent-5:hidden").length == 0) {
                $("#loadmore-5").text("Tidak ada lagi").addClass("nocontent");
            }
        });

    })
</script>


<template>
    
    <div id="talent">
        <h2>STAR HARVEST ACADEMY</h2>
        <p>At the heart of Entertainment</p>
        <p>Means taking a shot at being BOLD</p>
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-singer-tab" data-bs-toggle="pill" data-bs-target="#pills-singer" type="button" role="tab" aria-controls="pills-singer" aria-selected="true">SINGER</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-comedian-tab" data-bs-toggle="pill" data-bs-target="#pills-comedian" type="button" role="tab" aria-controls="pills-comedian" aria-selected="false">COMEDIAN</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-magician-tab" data-bs-toggle="pill" data-bs-target="#pills-magician" type="button" role="tab" aria-controls="pills-magician" aria-selected="false">MAGICIAN</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-host-tab" data-bs-toggle="pill" data-bs-target="#pills-host" type="button" role="tab" aria-controls="pills-host" aria-selected="false">HOST</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-chef-tab" data-bs-toggle="pill" data-bs-target="#pills-chef" type="button" role="tab" aria-controls="pills-chef" aria-selected="false">CHEF</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-singer" role="tabpanel" aria-labelledby="pills-singer-tab">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-1">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Singer
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="more" id="loadmore-1">Lebih Banyak</div>

                </div>

            </div>
            <div class="tab-pane fade" id="pills-comedian" role="tabpanel" aria-labelledby="pills-comedian-tab">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-2">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Comedian
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-2">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Comedian
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-2">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Comedian
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-2">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Comedian
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="more" id="loadmore-2">Lebih Banyak</div>

                </div>

            </div>
            <div class="tab-pane fade" id="pills-magician" role="tabpanel" aria-labelledby="pills-magician-tab">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-3">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Magician
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-3">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Magician
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-3">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Magician
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-3">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Magician
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="more" id="loadmore-3">Lebih Banyak</div>

                </div>

            </div>
            <div class="tab-pane fade" id="pills-host" role="tabpanel" aria-labelledby="pills-host-tab">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-4">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Host
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-4">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Host
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-4">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Host
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-4">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Host
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="more" id="loadmore-4">Lebih Banyak</div>

                </div>

            </div>
            <div class="tab-pane fade" id="pills-chef" role="tabpanel" aria-labelledby="pills-chef-tab">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-5">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Chef
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-5">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Chef
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-5">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Chef
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="loadcontent-5">
                                <div class="bg">
                                    <img src="../assets/img/header/gambar.png" alt="img" width="250" height="250">
                                    <h3>Abi Rafdi</h3>
                                    <span>Winner of KDI 2018</span>
                                    <a href="#">
                                        <div class="tag">Chef
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="more" id="loadmore-5">Lebih Banyak</div>

                </div>

            </div>

        </div>
    </div>

</template>

<style>
#talent {
    padding: 70px 0;
    background-image: linear-gradient(to right bottom, #ffd0ab, #fed8b7, #fee1c3, #fee8d0, #fef0dd, #fff3e5, #fff6ed, #fff9f5, #fffaf9, #fffbfc, #fefdfe, #fefefe);
}

#talent h2 {
    color: #000;
    text-align: center;
}

#talent p {
    text-align: center;
    color: #000;
}

#talent .nav-pills .nav-link {
    background: #FFFFFF;
    color: #000;
    border-radius: 12px;
    margin: 5px 10px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

#talent .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #FF9C6D;
    border-radius: 12px;
}

#talent .bg {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 15px auto;
}

#talent img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 250px;
    margin: 15px auto;
    object-fit: cover;
    border-radius: 5px;
}

#talent h3 {
    color: #000;
    font-size: 18px;
}

#talent span {
    color: #000;
}

#talent .tag {
    color: #000;
    border-radius: 8px;
    background: #FF9C6D;
    padding: 5px;
    width: 100%;
    max-width: 150px;
    margin: 20px 0;
    text-align: center;
}

#talent a{
    text-decoration: none;
}

#talent .more {
    text-align: center;
    border-radius: 8px;
    background: #F7F7F7;
    color: #000;
    padding: 8px 10px;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#talent .loadcontent-1,
.loadcontent-2,
.loadcontent-3,
.loadcontent-4,
.loadcontent-5 {
    display: none;
}

#talent #loadmore-1,
#loadmore-2,
#loadmore-3,
#loadmore-4,
#loadmore-5 {
    transition: .3s;
}

#talent #loadmore-1:hover,
#loadmore-2:hover,
#loadmore-3:hover,
#loadmore-4:hover,
#loadmore-5:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
}

#talent .nocontent {
    color: #000!important;
    background-color: transparent !important;
    pointer-events: none;
}
</style>